[Unit]
Description=Sunsetr - Automatic blue light filter for Hyprland, Niri, and everything Wayland
Documentation=https://github.com/psi4j/sunsetr?tab=readme-ov-file#sunsetr
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/sunsetr
Restart=on-failure
RestartSec=30

[Install]
WantedBy=graphical-session.target
